<header class="header">

    <!-- Sidebar button -->
    <button 
        class="button
            button-withIcon
        "
        (click)="toggleSidebar()"
    >
        <mat-icon class="button__icon">menu</mat-icon>
    </button>

    <!-- Navigation -->
    <nav class="header__navigation">
        <a class="header__navigation--link" routerLink="/home">Home</a>
        <a class="header__navigation--link" routerLink="">Courses</a>
        <a class="header__navigation--link" routerLink="">Blog</a>
        <a class="header__navigation--link" routerLink="">About</a>
    </nav>

    <!-- Language -->
    <button class="header__language">
        <p class="header__language--name">English</p>
        <mat-icon class="header__language--expand">expand_more</mat-icon>
        <div class="header__language--list">
            <button class="header__language--item">English</button>
            <button class="header__language--item">Русский</button>
        </div>
    </button>

    <!-- Separator -->
    <div class="header__separator"></div>

    <!-- Serach -->
    <button class="header__search">
        <mat-icon class="header__search--icon">search</mat-icon>
        <div class="header__search--container">
            <input class="header__search--bar" type="text" placeholder="Search">
        </div>
    </button>

    <!-- Notifications (Authorized only) -->
    <button class="header__notifications"
        *ngIf="AuthorizationService.authorized"
        >
        <mat-icon class="header__notifications--icon">notifications_none</mat-icon>
        <div class="header__notifications--container">
            <div class="header__notifications--topPanel">
                <p class="header__notifications--header">Notifications</p>
                <button class="header__notifications--button">
                    <mat-icon class="header__notifications--button--icon">done_outline</mat-icon>
                </button>
                <button class="header__notifications--button">
                    <mat-icon class="header__notifications--button--icon">settings</mat-icon>
                </button>
            </div>
            <div class="header__notifications--list">
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>
                <div class="header__notification">
                    <mat-icon class="header__notification--icon">star_border</mat-icon>
                    <div class="header__notification--container">
                        <a class="header__notification--message" routerLink="">Congratulations! You just earned a badge!</a>
                        <p class="header__notification--timestamp">2 years 320 days ago</p>
                    </div>
                </div>

            </div>
            <div class="header__notifications--bottomPanel">
                <button 
                    class="
                        button
                        header__notifications--seeAll
                    ">
                    See all
                </button>
            </div>
        </div>
    </button>

    <!-- Chat (Authorized only) -->
    <button class="header__chat" 
        *ngIf="AuthorizationService.authorized"
        >
        <mat-icon class="header__chat--icon">chat_bubble_outline</mat-icon>
    </button>

    <!-- Separator -->
    <div class="header__separator"></div>

    <!-- Log In (Unuthorized only) -->
    <button class="button"
        *ngIf="!AuthorizationService.authorized"
        (click)="logIn()"
    >
        Log in
    </button>

    <!-- Profile (Authorized only) -->
    <button class="header__profile"
        *ngIf="AuthorizationService.authorized"
    >
        <img class="header__profile--icon" src="../../assets/header/profile-pic.jpg">
        <p class="header__profile--name">Peter Evans</p>
        <div class="header__profile--actions">
            <button class="header__profile--action">Profile</button>
            <button class="header__profile--action">Preferences</button>
            <button class="header__profile--action"
                (click)="logOut()">
                Log out
            </button>
        </div>
    </button>
</header>