<header class="header">

    <button class="button button--small button--content-icon">
        <img class="button__icon" src="../../../assets/icons/rows.svg">
    </button>

    <a class="header__link">Home</a>
    <a class="header__link">Courses</a>
    <a class="header__link">Blogs</a>
    <a class="header__link">About</a>
    
    <button class="button button--color-transparent header__language">
        English
    </button>

    <div class="header__separator"></div>

    <button class="header__search button button--content-icon button--color-transparent">
        <img class="button__icon header__icon" src="../../../assets/icons/search.svg" alt="">
    </button>
    <button class="button button--content-icon button--color-transparent">
        <img class="button__icon header__icon" src="../../../assets/icons/notification.svg" alt="">
    </button>
    <button class="button button--content-icon button--color-transparent">
        <img class="button__icon header__icon" src="../../../assets/icons/chat.svg" alt="">
    </button>

    <div class="header__separator"></div>

    <button class="header__profile button button--content-with-image button--color-transparent ">
        <img class="button__image" src="../../../assets/profile-pic.jpg" alt="">
        <span class="button__text">Peter Evans</span>
    </button>

    <!-- <button class="button button--small">
        Log in
    </button> -->

</header>