<header class="header">

    <button class="button button--small button--content-icon"
        (click)="toggleSidebar.emit()"
    >
        <img class="button__icon" src="../../../assets/icons/rows.svg">
    </button>

    <nav class="header__navigation">
        <a class="header__link" tabindex="0">Home</a>
        <a class="header__link" tabindex="0">Courses</a>
        <a class="header__link" tabindex="0">Blogs</a>
        <a class="header__link" tabindex="0">About</a>
    </nav>
    
    <button class="header__language button button--color-transparent"
        #header__language
        (click)="toggleLanguageDropdown()"
    >
        English
        @if (showLanguageDropdown) {
            <div class="dropdown dropdown--padding-small"
                #header__languageDropdown
                (click)="$event.stopPropagation()"
            >
                <a class="dropdown__link" tabindex="0">English</a>
                <a class="dropdown__link" tabindex="0">Русский</a>
            </div>
        }
        
    </button>

    <div class="header__separator"></div>

    <button class="header__search button button--content-icon button--color-transparent"
        #header__search
        (click)="toggleSearchDropdown()"
    >
        <img class="button__icon" src="../../../assets/icons/search.svg" alt=""
            [ngClass]="{'button__icon--opacity-base': !showSearchDropdown, 'button__icon--opacity-active': showSearchDropdown}"
        >
        @if (showSearchDropdown) {
            <div class="header__searchDropdown dropdown dropdown--padding-normal"
                #header__searchDropdown
                [class.header__searchDropdown--authorized]="AuthorizationService.authorized"
                (click)="$event.stopPropagation()"
            >
                <input class="searchbar" type="text" placeholder="Search">
            </div>
        }
        
    </button>

    @if(AuthorizationService.authorized) {
        <button class="header__notifications button button--content-icon button--color-transparent"
            #header__notifications
            (click)="toggleNotificationsDropdown()"
        >
            <img class="button__icon button__icon--opacity-base" src="../../../assets/icons/notification.svg" alt=""
                [ngClass]="{'button__icon--opacity-base': !showNotificationsDropdown, 'button__icon--opacity-active': showNotificationsDropdown}"
            >
            @if (showNotificationsDropdown) {
                <div class="header__notificationsDropdown dropdown"
                    #header__notificationsDropdown
                    (click)="$event.stopPropagation()"
                >
                    <div class="notificationsDropdown">
                        <div class="notificationsDropdown__headerContainer">
                            <span class="notificationsDropdown__header">Notifications</span>
                            <button class="notificationsDropdown__headerButton button button--content-icon button--color-transparent">
                                <img class="notificationsDropdown__headerIcon button__icon" src="../../../assets/icons/check.svg" alt="">
                            </button>
                            <button class="notificationsDropdown__headerButton button button--content-icon button--color-transparent">
                                <img class="notificationsDropdown__headerIcon button__icon" src="../../../assets/icons/settings.svg" alt="">
                            </button>
                        </div>
                        <div class="notificationsDropdown__notificationsContainer">
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            <div class="notification">
                                <img class="notification__icon" src="../../../assets/icons/light_bulb.svg" alt="">
                                <div class="notification__container">
                                    <span class="notification__header">You just earned a badge!</span>
                                    <span class="notification__timestamp">2 years 320 days ago</span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="notificationsDropdown__button button button--flex-center">See all</div>
                    </div>
                </div>
            }

        </button>

        <button class="header__chat button button--content-icon button--color-transparent">
            <img class="button__icon button__icon--opacity-base" src="../../../assets/icons/chat.svg" alt="">
        </button>
    }

    <div class="header__separator"></div>

    @if(!AuthorizationService.authorized) {
        <button class="header__logIn button button--small"
        (click)="logIn()"
        >
            Log in
        </button>
    }

    @if (AuthorizationService.authorized) {
        <button class="header__profile button button--content-with-image button--color-transparent"
            ngModel
            #header__profile
            (click)="toggleProfileDropdown()"
        >
            <img class="button__image" src="../../../assets/profile-pic.jpg" alt="">
            <span class="button__text">Peter Evans</span>
            @if (showProfileDropdown) {
                <div class="dropdown dropdown--padding-small"
                    #header__profileDropdown
                    (click)="$event.stopPropagation()"
                >
                    <a class="dropdown__link" tabindex="0">Profile</a>
                    <div class="dropdown__separator"></div>
                    <a class="dropdown__link" tabindex="0">Grades</a>
                    <a class="dropdown__link" tabindex="0">Calendar</a>
                    <a class="dropdown__link" tabindex="0">Files</a>
                    <div class="dropdown__separator"></div>
                    <a class="dropdown__link" tabindex="0"
                        (click)="logOut()"
                    >Log out</a>
                </div>
            }
        </button>
    }

</header>