<div class="wrapper">
    
    <app-header class="header"
        [class.sidebar-active]="showSidebar"
        (toggleSidebar)="toggleSidebar()"
    ></app-header>
    
    <div class="sidebar"
        [class.sidebar-active]="showSidebar"
    >
        <app-sidebar class="sidebar__container"
            [class.sidebar-active]="showSidebar"
        ></app-sidebar>
    </div>
    
    <div class="page"
        [class.sidebar-active]="showSidebar"
    >
        <router-outlet></router-outlet>
    </div>

</div>