    <app-header class="header"
        [class.sidebar-active]="showSidebar"
        (toggleSidebar)="toggleSidebar()"
    ></app-header>

    <div class="sidebar"
        [class.sidebar-active]="showSidebar"
    >
        <app-sidebar class="sidebar__container"
            [class.sidebar-active]="showSidebar"
        ></app-sidebar>
    </div>

    <div class="header-spaceholder"></div>

    <div class="wrapper"
        [class.sidebar-active]="showSidebar"
    >
        <router-outlet></router-outlet>

        <app-footer></app-footer>
    </div>