<div class="layout"
    [class.sidebar-active]="showSidebar"
>
    <div class="layout__sidebar
                sidebar"
        [class.active]="showSidebar"
    >
        <app-sidebar #sidebar></app-sidebar>
    </div>

    <div class="layout__page">
        <div class="header"
            [class.sidebar-active]="showSidebar"
        >
            <app-header
                (toggleSidebar)="toggleSidebar()"
            ></app-header>
        </div>

        <div class="page"
            [class.sidebar-active]="showSidebar"
        >
            <router-outlet></router-outlet>
        </div>
    </div>

</div>