<h1 style="position: absolute; overflow: hidden; width: 0; height: 0">Home</h1>

<section class="banner">

    <div class="banner__container">
        <h2 class="banner__header">Learn Without Limits</h2>
        <p class="banner__text">Explore endless learning possibilities at Purity. Elevate your education journey with diverse courses.</p>
        <button class="banner__button">Find Out More</button>
    </div>

    <img class="banner__background" src="../../../../assets/banner/banner1.jpg">

</section>

<section class="banner">

    <div class="banner__container">
        <h2 class="banner__header">Where Knowledge Knows No Bounds</h2>
        <p class="banner__text">Embark on a journey of unlimited learning with Purity. Explore diverse courses tailored for your success. Unleash your potential today!</p>
        <button class="banner__button">Start Your Odyssey</button>
    </div>

    <img class="banner__background" src="../../../../assets/banner/banner2.jpg">

</section>

<section class="banner">

    <div class="banner__container">
        <h2 class="banner__header">Nurturing Minds, Shaping Futures</h2>
        <p class="banner__text">Ignite your curiosity with Purity's curated courses. Empower your intellect and chart a path to success.</p>
        <button class="banner__button">Explore Courses</button>
    </div>

    <img class="banner__background" src="../../../../assets/banner/banner3.jpg">

</section>