<h1 class="page-header hidden">Home</h1>

<section class="banner"
    appHorizontalSwipe
    (swipeDirection)="bannerChange($event)"
>

    <button class="banner__slide left"
        (click)="bannerChange('left')"
    >
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
            <g>
                <path d="M34.2,47.7L13.4,27.2c-0.6-0.6-0.6-1.6,0-2.2L34.2,4.5c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2c0.6,0.6,0.6,1.6,0,2.2L22.1,25c-0.6,0.6-0.6,1.6,0,2.2l16.3,16.1c0.6,0.6,0.6,1.6,0,2.2l-2.2,2.2C35.7,48.2,34.8,48.2,34.2,47.7z"/>
            </g>
        </svg>
    </button>
    <button class="banner__slide right"
        (click)="bannerChange('right')"
    >
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
            <g>
                <path d="M17.9,4.4l20.7,20.5c0.6,0.6,0.6,1.6,0,2.2L17.9,47.6c-0.6,0.6-1.6,0.6-2.2,0l-2.2-2.2c-0.6-0.6-0.6-1.6,0-2.2l16.3-16.1c0.6-0.6,0.6-1.6,0-2.2L13.6,8.8c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2C16.4,3.9,17.3,3.9,17.9,4.4z"/>
            </g>
        </svg>
    </button>

    <!-- CSS animations, JS swipe interaction (w/o animation) -->

    <div class="banner__item"
        [@changeBanner]="banner1stItem"
    >
        <div class="banner__container"
            [@showBannerContainer]="banner1stItem"
        >
            <h2 class="banner__header">Learn Without Limits</h2>
            <p class="banner__text">
                Explore endless learning possibilities at Purity.
                <br>
                Elevate your education journey with diverse courses.
            </p>
            <b class="banner__button">Find Out More</b>
        </div>
        <img class="banner__background" src="../../../../assets/banner/banner1.jpg" draggable="false"
            [@scaleBannerBackground]="banner1stItem"
        >
    </div>

    <div class="banner__item"
        [@changeBanner]="banner2ndItem"
    >
        <div class="banner__container"
            [@showBannerContainer]="banner2ndItem"
        >
            <h2 class="banner__header">Where Knowledge Knows No Bounds</h2>
            <p class="banner__text">
                Embark on a journey of unlimited learning with Purity.
                <br>
                Explore diverse courses tailored for your success.
                <br>
                Unleash your potential today!
            </p>
            <a class="banner__button">Start Your Odyssey</a>
        </div>
        <img class="banner__background" src="../../../../assets/banner/banner2.jpg" draggable="false"
            [@scaleBannerBackground]="banner2ndItem"
        >
    </div>
    
    <div class="banner__item"
        [@changeBanner]="banner3rdItem"
    >
        <div class="banner__container"
            [@showBannerContainer]="banner3rdItem"
        >
            <h2 class="banner__header">Nurturing Minds, Shaping Futures</h2>
            <p class="banner__text">
                Ignite your curiosity with Purity's curated courses.
                <br>
                Empower your intellect and chart a path to success.
            </p>
            <a class="banner__button">Explore Courses</a>
        </div>
        <img class="banner__background" src="../../../../assets/banner/banner3.jpg" draggable="false"
            [@scaleBannerBackground]="banner3rdItem"
        >
    </div>

</section>