.page-header{
    &.hidden {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
    }
}

.banner {
    & {
        position: relative;
        height: 34.375em;

        overflow: hidden;
        box-shadow: 0 1px 4px rgba(#000000, 0.1);

        &:hover .banner__slide{
            opacity: 1;
        }
    }

    &.small {
        height: auto;

        padding: 3.5em 0;

        background-attachment: fixed; 
        background-clip: border-box;
        background-image:  url(../../../assets/banner/banner-small.jpg);
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &__slide {
        position: absolute;
        top: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.188em;
        height: 2.188em;
        & svg {
            width: 1.3em;
        }

        fill:   rgba(#FFFFFF, 0.8);
        background-color: rgba(#000000, 0.4);
        opacity: 0;
        border-radius: 0.188em;
        z-index: 8;

        cursor: pointer;

        transition: opacity 150ms;

        &.left {
            left: 0;
            transform: translate(clamp(25%, 2vw, 100%), -50%);
        }
        &.right {
            right: 0;
            transform: translate(clamp(-100%, -2vw, -25%), -50%);
        }
    }

    &__item {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 100%;
        height: 100%;
    }

    &__container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%);

        width: min(70%, 37.5em);

        z-index: 2;
    }

    &__header {
        font-size: 1.625rem;
        font-weight: 600;
        text-align: center;

        color: #FFFFFF;

        cursor: default;
        user-select: none;
    }

    &__text {
        margin: 1.25em 0 1.75em;

        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.5em;

        color: #FFFFFF;

        cursor: default;
        user-select: none;
    }

    &__button {
        display: block;
        margin: 0 auto;
        width: fit-content;
        padding: 0.714em 1.429em;

        font-size: 0.875rem;
        font-weight: 600;

        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 0.286em;

        cursor: pointer;
        user-select: none;

        transition: all 150ms ease;
        &:hover {
            color: #212529;
            background-color: #FFFFFF;
            transform: scale(1.05);
        }
    }

    &__background {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1.2);

        min-width: 100%;
        min-height: 100%;
    }
}

@media screen and (max-width: 572px) {
    .banner {
        &__slide {
            display: none;
        }
    }    
}

.section {

    & {
        width: 100%;

        overflow: hidden;

        &.background-transparent{
            background-color: transparent;
        }
        &.background-white{
            background-color: #FFFFFF;
            box-shadow: 0 1px 4px rgba(#000000, 0.1);
        }
        &.background-svg{
            background-color: #FFFFFF;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: 0 1px 4px rgba(#000000, 0.1);
            background-image: url('data:image/svg+xml,<svg viewBox="0 0 2622 1712" xmlns="http://www.w3.org/2000/svg"><g fill-rule="evenodd" opacity=".1" transform="translate(0 -7.19)"><path d="m671.83 304.19c-18.73-177.41 284.38-313.42 402.32-237.49 136.9 88.14 7.26 247.14-74.68 276.66-76.77 27.64-5.47 73.34-65.61 157.53-52.28 73.11-252.19-103.46-262.03-196.7z" fill="%235e72e4"/><path d="m1188.43 478.6c-40.81 49.65-67.73 149.26-138.29 100.51-52.34-36.11-55.14-138.81-12.82-199.8s126.89-97.71 186.68-50.9c41.8 28.89 2.75 103.59-35.57 150.19z" fill="%232dce89"/><path d="m542.5 470.08c32.11-44.74 104.94-94.85 129-57.2 49.92 78.2 73.34-24.25 137.18-20.59s25.22 59.31 99 79.42 57.86 142.07-12.38 119.29-62.3 25.37-97.81 37.86-36.11-34.35-91.9-19.66c-54.87 14.45-133 41-172.15 8.59-31.88-26.36-24.64-100.74 9.06-147.71z" fill="%23172b4d"/><path d="m1625.43 1044.8c-81.88 113.13-177.67-22.51-255.26-94.6s-115.64-251.81 26.73-310.64c97.86-40.44 150.43 17.08 228 89.17s74.47 213.93.53 316.07z" fill="%23fb6340"/><path d="m1200 1043.51c1.68 47.58-68.8 132.8-119 134.62s-92.26-35.28-94-82.86 37.58-87.61 87.76-89.42 123.49-9.91 125.24 37.66z" fill="%235e72e4"/><path d="m539.44 1645.35c-53.62 68.12-112.25 105.18-196.65 39.49s-75.46-150.94-21.85-219.06 218.74-35 303.14 30.66-31.03 80.75-84.64 148.91z" fill="%235e72e4"/><path d="m497 919.64c57 74.49 5.73 335.15-127.45 379.36-154.55 51.31-227.46-292.53-216.47-373.31s32.13-87.41 120.92-34.09 166-46.41 223 28.04z" fill="%235e72e4"/><path d="m735 804.87c5.94 91.64 91.12 82 65.06 133.94-21.48 42.84-165.92 241.9-229.06 154.38-31.72-43.94-8.83-84.15-13.86-138.12-6-63.64-90.55-135.71-44.44-179.88 48.46-46.52 217.95-37.36 222.3 29.68z" fill="%23fb6340"/><g fill="%23fff"><path d="m410 833.46c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m423.71 833.46c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m437.47 833.46c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m478.73 833.46c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m492.48 833.46c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m506.23 833.46c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m423.71 846.05c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m437.47 846.05c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m451.22 846.05c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m465 846.05c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m478.73 846.05c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m506.23 846.05c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m410 858.65c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m423.71 858.65c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m437.47 858.65c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m451.22 858.65c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m465 858.65c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m478.73 858.65c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m492.48 858.65c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m506.23 858.65c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m410 871.25c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m423.71 871.25c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m437.47 871.25c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m451.22 871.25c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m465 871.25c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m478.73 871.25c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m492.48 871.25c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m410 883.85c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m423.71 883.85c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.34 3.66 4z"/><path d="m437.47 883.85c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.34 3.67 4z"/><path d="m451.22 883.85c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m465 883.85c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.34 3.66 4z"/><path d="m478.73 883.85c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.34 3.67 4z"/><path d="m492.48 883.85c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m410 896.45c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m423.71 896.45c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m437.47 896.45c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m451.22 896.45c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m465 896.45c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m478.73 896.45c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m492.48 896.45c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m410 909.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m423.71 909.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m437.47 909.05c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m451.22 909.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m465 909.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m478.73 909.05c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m492.48 909.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m410 921.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m423.71 921.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m437.47 921.65c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m451.22 921.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m465 921.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m478.73 921.65c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m492.48 921.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m410 934.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m423.71 934.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m437.47 934.25c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m451.22 934.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m465 934.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m478.73 934.25c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z"/><path d="m492.48 934.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z"/><path d="m506.23 934.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.36 3.66 4z"/><path d="m410 946.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m423.71 946.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.34 3.66 4z"/><path d="m437.47 946.85c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.34 3.67 4z"/><path d="m451.22 946.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m465 946.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.34 3.66 4z"/><path d="m478.73 946.85c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.34 3.67 4z"/><path d="m492.48 946.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m506.23 946.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.34 3.66 4z"/><path d="m410 959.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m423.71 959.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m437.47 959.45c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m451.22 959.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m465 959.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m478.73 959.45c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m492.48 959.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m506.23 959.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m410 972.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m423.71 972.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m437.47 972.05c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m451.22 972.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m465 972.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m478.73 972.05c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m506.23 972.05c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m410 984.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m423.71 984.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m437.47 984.65c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m451.22 984.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m465 984.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m478.73 984.65c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m492.48 984.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m506.23 984.65c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m423.71 997.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m437.47 997.25c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m451.22 997.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m465 997.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m478.73 997.25c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m492.48 997.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m506.23 997.25c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m410 1009.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m423.71 1009.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.34 3.66 4z"/><path d="m437.47 1009.85c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.34 3.67 4z"/><path d="m451.22 1009.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m465 1009.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.34 3.66 4z"/><path d="m492.48 1009.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.34 3.66 4z"/><path d="m506.23 1009.85c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.34 3.66 4z"/><path d="m410 1022.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m437.47 1022.45c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m451.22 1022.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m465 1022.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m478.73 1022.45c0 1.64-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z"/><path d="m492.48 1022.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z"/><path d="m506.23 1022.45c0 1.64-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.66 2.35 3.66 4z"/><path d="m410 1035c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.4 3.66 4z"/><path d="m423.71 1035c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.4 3.66 4z"/><path d="m451.22 1035c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.4 3.66 4z"/><path d="m465 1035c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.4 3.66 4z"/><path d="m478.73 1035c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.4 3.67 4z"/><path d="m492.48 1035c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.4 3.66 4z"/><path d="m506.23 1035c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.66 2.4 3.66 4z"/></g><path d="m1324.21 1350.33c68.44 60.27-27.54 191.86-151.71 191.86-56.07 0-139.8-54.33-129.66-118 8.8-55.25 109.61-37.34 140.69-83.88 99.63-149.2 99.29-26.44 140.68 10.02z" fill="%232dce89"/><path d="m1815.78 325.81c122.49-54.62 115.32 78.12 152.52 162.29 97 219.36-354.62 277.55-292.12 187.26s-40.94-129.7-150.58-129.7c-186.25 0-124.6-294.37 61.94-233.07 100.46 33.02 105.74 67.8 228.24 13.22z" fill="%23dd234b"/><path d="m1693.74 198.54c50.79-34.57 120.34-.5 154.78 37s-44.41 63.65-86.31 86.1c-30.07 16.12-68.3 17.13-82.81-8.32s-36.4-80.2 14.34-114.78z" fill="%232dce89"/><path d="m2037.41 403.19c-27.51 38.41-164.09 58.77-202.35 31.35s.27-109.35 27.78-147.8 88.93-70.74 127.16-43.34 74.92 121.41 47.41 159.79z" fill="%235e72e4"/><path d="m1575.37 1135.08c9.73-83.41 61.88-146.49 130.91-170.66 43.41-15.19 183.57-12.08 250.46 65.42 93.26 108.13 3.55 183.45-94.63 171.35-135.19-16.64-17.08 102.39-103.89 178.48-68.83 60.31-52-51.91-134.47-84.62-60.75-24.05-55.95-95.15-48.38-159.97z" fill="%23dd234b"/><path d="m2084.59 1254.53c19 43.06-25.08 132-102.38 132.66s-146-79.34-165.07-122.4 52.34 5.42 117.09-30.78 131.3-22.54 150.36 20.52z" fill="%23fb6340"/><path d="m1400.15 1576.91c-14.57 11.43-44 15.44-55.38.93s-.56-42.06 14-53.48a33.44 33.44 0 1 1 42 52l-.69.55z" fill="%232dce89"/><path d="m1904.08 952.88c-9 7-27.1 9.48-34.14.57s-.34-25.84 8.64-32.86a20.74 20.74 0 0 1 29 3.44 20.47 20.47 0 0 1 -3.39 28.76z" fill="%235e72e4"/><path d="m1616.92 1206.59c16.83-10.45 37.82-1.11 48.35 15.59s27.84 51.49-7 50c-27.09-1.18-82.99-39.72-41.35-65.59z" fill="%235e72e4"/><path d="m2392 919.63c-93.41-38.86-455.67-14.67-407.62-130.23s214.31-249.21 307.73-210.34 372.42 94.79 324.37 210.34-131.07 169.09-224.48 130.23z" fill="%23ffd049"/><path d="m1915.69 509.63c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.37 3.67 4z" fill="%23fff"/><path d="m1929.47 509.63c0 1.65-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.68 2.37 3.68 4z" fill="%23fff"/><path d="m1943.23 509.63c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.37 3.66 4z" fill="%23fff"/><path d="m1957 509.63c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.37 3.66 4z" fill="%23fff"/><path d="m1915.69 522.24c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z" fill="%23fff"/><path d="m1929.47 522.24c0 1.65-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.68 2.36 3.68 4z" fill="%23fff"/><path d="m1943.23 522.24c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z" fill="%23fff"/><path d="m1957 522.24c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z" fill="%23fff"/><path d="m1915.69 534.85c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.39 3.67 4z" fill="%23fff"/><path d="m1929.47 534.85c0 1.65-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.68 2.39 3.68 4z" fill="%23fff"/><path d="m1943.23 534.85c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.39 3.66 4z" fill="%23fff"/><path d="m1957 534.85c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.39 3.66 4z" fill="%23fff"/><path d="m1915.69 547.47c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z" fill="%23fff"/><path d="m1929.47 547.47c0 1.65-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.68 2.36 3.68 4z" fill="%23fff"/><path d="m1943.23 547.47c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z" fill="%23fff"/><path d="m1957 547.47c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z" fill="%23fff"/><path d="m1915.69 560.08c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z" fill="%23fff"/><path d="m1929.47 560.08c0 1.65-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.68 2.36 3.68 4z" fill="%23fff"/><path d="m1943.23 560.08c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z" fill="%23fff"/><path d="m1915.69 572.7c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.66 1.34-4 3-4s3.67 2.35 3.67 4z" fill="%23fff"/><path d="m1929.47 572.7c0 1.65-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.66 1.33-4 3-4s3.68 2.35 3.68 4z" fill="%23fff"/><path d="m1943.23 572.7c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.66 1.34-4 3-4s3.66 2.35 3.66 4z" fill="%23fff"/><path d="m1957 572.7c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.66 1.34-4 3-4s3.66 2.35 3.66 4z" fill="%23fff"/><path d="m1915.69 585.32c0 1.63-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.66 1.34-4 3-4s3.67 2.35 3.67 4z" fill="%23fff"/><path d="m1929.47 585.32c0 1.63-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.66 1.33-4 3-4s3.68 2.35 3.68 4z" fill="%23fff"/><path d="m1957 585.32c0 1.63-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.66 1.34-4 3-4s3.66 2.35 3.66 4z" fill="%23fff"/><path d="m1915.69 597.92c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.32 3.67 4z" fill="%23fff"/><path d="m1929.47 597.92c0 1.65-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.65 1.33-4 3-4s3.68 2.32 3.68 4z" fill="%23fff"/><path d="m1943.23 597.92c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.32 3.66 4z" fill="%23fff"/><path d="m1957 597.92c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.32 3.66 4z" fill="%23fff"/><path d="m1915.69 610.54c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.67 2.35 3.67 4z" fill="%23fff"/><path d="m1943.23 610.54c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z" fill="%23fff"/><path d="m1957 610.54c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.65 1.34-4 3-4s3.66 2.35 3.66 4z" fill="%23fff"/><path d="m1915.69 623.14c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.63 1.34-4 3-4s3.67 2.37 3.67 4z" fill="%23fff"/><path d="m1943.23 623.14c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.63 1.34-4 3-4s3.66 2.37 3.66 4z" fill="%23fff"/><path d="m1957 623.14c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.63 1.34-4 3-4s3.66 2.37 3.66 4z" fill="%23fff"/><path d="m1915.69 635.76c0 1.65-2 3-3.67 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.67 2.36 3.67 4z" fill="%23fff"/><path d="m1929.47 635.76c0 1.65-2 3-3.68 3a3 3 0 0 1 -3-3c0-1.64 1.33-4 3-4s3.68 2.36 3.68 4z" fill="%23fff"/><path d="m1943.23 635.76c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z" fill="%23fff"/><path d="m1957 635.76c0 1.65-2 3-3.66 3a3 3 0 0 1 -3-3c0-1.64 1.34-4 3-4s3.66 2.36 3.66 4z" fill="%23fff"/><path d="m241.75 422.61c-93.67-38.95-282.18-5.17-234-121s283.06-328.67 376.72-289.73 130.53 164.4 82.37 280.21-131.42 169.46-225.09 130.52z" fill="%23dd234b"/><path d="m1088.92 1254.59c16.83-10.45 37.82-1.11 48.35 15.59s27.84 51.49-7 50c-27.09-1.18-82.99-39.72-41.35-65.59z" fill="%2379cfcd"/><path d="m1738.92 833.59c16.83-10.45 37.82-1.11 48.35 15.59s27.84 51.49-7 50c-27.09-1.18-82.99-39.72-41.35-65.59z" fill="%232c3551"/><path d="m1207.85 1181.89c19.33 0 40.28-29 40.28-41.67s-25.8-13-45.13-13-35 10.3-35 23 20.52 31.67 39.85 31.67z" fill="%232c3551"/><path d="m773.85 1077.89c19.33 0 40.28-29 40.28-41.67s-25.8-13-45.13-13-35 10.3-35 23 20.52 31.67 39.85 31.67z" fill="%2379cfcd"/><path d="m1161.15 868.19c22 19.85 75.71 8.32 88.76-6.18s-16-41.37-38.08-61.22-50.51-24.2-63.56-9.71-9.17 57.24 12.88 77.11z" fill="%232c3551"/></g></svg>');
        }
    }

    &__container {
        position: relative;

        margin: 0 auto;
        max-width: 1140px;
        padding: 3.5em 0;
    }

    &__header {
        padding: 0 0.75em;

        font-size: 1.4em;
        font-weight: 600;
        text-align: center;
        line-height: 1.5;

        color: #32325D;

        user-select: none;
    }

    &__separator {
        margin: 1.25em auto;
        width: 3.125em;
        height: 0.25em;

        border-radius: 0.25em;
        background-color: #5E72E4;

        &.transparent {
            height: 1px;
            background-color: transparent;
        }
    }

    &__text {
        margin: 0 auto;
        padding: 0 clamp(0.5em, 3%, 1.5em);

        font-size: 1.1rem;
        line-height: 1.5;
        text-align: center;

        color: #525F7F;

        user-select: none;
    }

    &__background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
    }

    &__button {
        display: block;
        margin: 2.286em auto 0;
        width: fit-content;
        padding: 0.714em 1.429em;

        font-size: 0.875rem;
        font-weight: 600;

        border-radius: 0.286em;
        color: #FFFFFF;
        background-color: #5E72E4;

        cursor: pointer;

        transition: transform 150ms ease;
        &:hover {
            transform: scale(1.05);
        }
    }

    &__slide {
        position: absolute;
        top: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.188em;
        height: 2.188em;
        & svg {
            width: 1.3em;
        }

        fill:   rgba(#FFFFFF, 0.8);
        background-color: rgba(#000000, 0.4);
        opacity: 0;
        border-radius: 0.188em;
        z-index: 8;

        cursor: pointer;

        transition: opacity 150ms;

        &.left {
            left: 0;
            transform: translate(clamp(25%, 2vw, 100%), -50%);
        }
        &.right {
            right: 0;
            transform: translate(clamp(-100%, -2vw, -25%), -50%);
        }
    }

    &__pages {
        margin: 1.875em auto 0;
        width: fit-content;

        display: flex;
        gap: 0.75em;

        & button {
            width: 0.875em;
            height: 0.875em;

            border-radius: 50%;
            border: 1px solid #c3c3c3;

            transition: background-color 300ms;
            &:hover {
                background-color: #c3c3c3;
            }

            &.active {
                background-color: #c3c3c3;
            }

            cursor: pointer;
        }
    }

    &__cards {
        & {
            margin-top: 3em;
            padding: 0 clamp(0.5em, 3vw, 1.875em);

            display: flex;
            gap: clamp(0.5em, 3vw, 1.875em);
            flex-wrap: wrap;
        }

        .card {

            & {
                flex: 1;

                box-sizing: border-box;
                min-width: 14.625em;
                padding: 1.5em;

                &>*:not(:last-child) {
                    margin-bottom: 1em;
                }

                border-radius: 0.375em;
                box-shadow: 0 1px 4px rgba(#000000, 0.1);
                background-color: #FFFFFF;

                transition: all 150ms;
                &:hover {
                    transform: translate(0, -5%);
                }
            }

            &.blue {
                .card__icon {
                    fill: #324CDD;
                    background-color: rgba(#8A98EB, 0.5);
                }
                .card__title {
                    color: #5E72E4;
                }
                .card__button {
                    background-color: #5E72E4;
                    &:active {
                        background-color: #324CDD;
                    }
                }
            }

            &.green {
                .card__icon {
                    fill: #24A46D;
                    background-color: rgba(#54DAA1, 0.5);
                }
                .card__title {
                    color: #2DCE89;
                }
                .card__button {
                    background-color: #2DCE89;
                    &:active {
                        background-color: #24A46D;
                    }
                }
            }

            &.red {
                .card__icon {
                    fill: #FA3A0E;
                    background-color: rgba(#FC8C72, 0.5);
                }
                .card__title {
                    color: #FB6340 ;
                }
                .card__button {
                    background-color: #FB6340;
                    &:active {
                        background-color: #FF3C0C;
                    }
                }
            }
            
            &__icon {
                box-sizing: border-box;
                width: 3em;
                height: 3em;
                padding: 0.875em;
    
                border-radius: 50%;
            }

            &__title {
                font-weight: 600;
                line-height: 1.5;

                user-select: none;
            }

            &__text {
                margin-bottom: 1.5rem;

                line-height: 1.5;

                color: #525F7F;

                user-select: none;
            }

            &__button {
                display: inline-block;
                padding: 0.714em 1.429em;
                
                font-size: 0.875em;
                font-weight: 600;
                text-align: center;
                vertical-align: middle;

                border-radius: 0.286em;
                color: #FFFFFF;

                cursor: pointer;
                transition: transform 150ms;
                &:hover {
                    transform: scale(1.05);
                }

                user-select: none
            }
        }
    }

    &__courses {
        & {
            margin-top: 3em;
            padding: 0 clamp(0.5em, 3vw, 1em);
            
            display: flex;
            gap: clamp(0.5em, 3vw, 1.875em);
            flex-wrap: wrap;
        }
        
        .course {
            & {
                min-width: 300px;
                position: relative;

                flex: 1;

                overflow: hidden;

                border-radius: 0.313em;
                background-color: #FFFFFF;
                box-shadow: 0 1px 4px rgba(#000000, 0.1);
            }

            &__price {
                position: absolute;
                top: 1em;
                right: 1em;

                padding: 0.25em 0.667em;

                font-size: 0.75rem;
                font-weight: 600;

                border-radius: 0.25em;
                color: #FFFFFF;
                background-color: #2DCE89;

                user-select: none
            }

            &__image {
                cursor: pointer;

                &>img {
                    width: 100%;
                    height: min(auto, 12.5em);

                    user-select: none;
                }
            }

            &__header-container {
                padding: clamp(0.75em, 3vw, 1.5em);
            }

            &__title {
                font-size: 1.063rem;
                font-weight: 600;
                line-height: 1.5;

                color: #32325D;

                cursor: pointer;
                transition: color 150ms;
                &:hover {
                    color: #233DD2;
                }
            }

            &__about {
                margin-top: 1em;

                color: #525F7F;
            }

            &__footer-container {
                padding: 1.25em 1.5em;

                display: flex;

                border-top: 1px solid rgba(#000000, 0.05);
            }

            &__info {
                position: relative;

                font-size: 0.875rem;

                display: flex;
                align-items: center;
                gap: 0.75em;

                cursor: pointer;

                &:hover {
                    & .course__add-info {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .course__add-info {
                    visibility: hidden;
    
                    position: absolute;
                    bottom: 150%;
                    left: 50%;
                    transform: translate(-50%, 0);
    
                    padding: 0.286em 0.571em;
                    
                    font-size: 0.875rem;

                    opacity: 0;
                    border-radius: 0.429em;
                    color: #FFFFFF;
                    background-color: #1A1A1A;
    
                    transition: opacity 150ms ease;
    
                    &::after {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
    
                        width: 0.625em;
                        height: 0.625em;
                        background-color: #1A1A1A;
                        content: "";
                    }
                }

                &>svg {
                    width: 1em;
                    height: 1em;

                    fill: #525F7F;
                }

                &.category {
                    color: #5E72E4;
                    &:hover {
                        color: #233DD2;
                    }
                    &:active {
                        color: #212529;
                    }
                }

                &.enrolled {
                    margin-left: auto;
                    
                    color: #525F7F;

                    cursor: default;
                }

                
            }
        }        
    }

    &__carousel {
        & {
            max-width: 1140px;

            position: relative;

            margin: 2.5em auto 0;
            padding: 6px 0;
    
            overflow: hidden;
    
            &:hover .section__slide{
                opacity: 1;
            }

            &.reviews {
                margin: 0;
            }
        }

        &-container {
            position: relative;

            padding: 0 clamp(0.5em, 3vw, 1.875em);

            left: 50%;
            transform: translate(-50%);

            width: fit-content;

            display: flex;
            align-items: center;
            gap: 0;

            &.teachers {
                & {
                    gap: 30px;
                }

                & .teacher {
                    & {
                        box-sizing: border-box;
                        width: 255px;
        
                        padding: 0 1.4em 1.4em;
        
                        overflow: hidden;
        
                        border-radius: 6px;
                        background-color: #FFFFFF;
                        box-shadow: 0 1px 4px rgba(#000000, 0.1);
                    }
        
                    &__photo {
                        position: relative;
                        left: 50%;
                        transform: translate(-50%);
        
                        width: 300px;
                        height: 300px;
        
                        user-select: none;
                    }
        
                    &__name {
                        display: block;
                        margin-top: 1.1em;
        
                        font-size: 1.0625rem;
                        font-weight: 600;
        
                        color: #32325D;
                        
                        user-select: none;
                    }
        
                    &__subject {
                        display: block;
                        margin-top: 0.4em;
        
                        font-size: 0.875rem;
        
                        color: #ADB5BD;
        
                        user-select: none;
                    }
        
                    &__about {
                        display: block;
                        margin-top: 1em;
        
                        color: #525F7F;
        
                        user-select: none;
                    }
                }
            }

            &.reviews {
                & .review {
                    & {
                        box-sizing: border-box;
                        width: 1140px;
        
                        display: flex;
                        flex-direction: column;
                        align-items: center;
        
                        overflow: hidden;
                    }
        
                    &__text {
                        font-size: 1.2rem;
                        line-height: 1.5;
                        text-align: center;
        
                        color: #525F7F;
        
                        user-select: none;
                    }
        
                    &__photo {
                        margin-top: 1.5em;
                        width: 3.75em;
                        height: 3.75em;
        
                        border-radius: 50%;
        
                        user-select: none;
                    }
        
                    &__name {
                        margin-top: 0.75em;
        
                        font-weight: 600;
                        line-height: 1.5;
        
                        color: #525F7F;
        
                        user-select: none;
                    }
        
                    &__subject {
                        font-size: 0.875rem;
                        line-height: 1.5;
        
                        color: #ADB5DB;
                        
                        user-select: none;
                    }
                }
            }

            &.blogs {
                & {
                    gap: 30px;
                }

                .blog {
                    & {
                        position: relative;
        
                        box-sizing: border-box;
                        width: 350px;
                        height: 300px;
                        padding: 1.5em;
        
                        display: flex;
                        gap: 1.25em;
                        flex-direction: column;
                        justify-content: flex-end;
        
                        border-radius: 5px;
                        background-image: url(../../../assets/blog.png);
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        box-shadow: 0 1px 4px rgba(#000000, 0.1);
        
                        &::after {
                            position: absolute;
                            left: 0;
                            bottom: 0;
        
                            width: 100%;
                            height: 80%;
        
                            content: '';
        
                            opacity: 0.9;
                            border-radius: 0 0 5px 5px;
                            background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.15) 20%,rgba(0,0,0,.8) 100%);
                        }
                    }
        
                    &__title {
                        position: relative;
                        z-index: 1;
        
                        font-size: 1.0625rem;
                        font-weight: 600;
                        line-height: 1.5;
        
                        color: #FFFFFF;
        
                        user-select: none;
                        cursor: pointer;
        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
        
                    &__info-container {
                        display: flex;
                        justify-content: space-between;
                    }
        
                    &__info {
                        & {
                            position: relative;
                            z-index: 1;
        
                            display: flex;
                            align-items: center;
                            gap: 0.75em;
        
                            user-select: none;
        
                            &:hover {
                                & .blog__add-info {
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                            &:active {
                                color: #212529;
                            }
        
                            .blog__add-info {
                                visibility: hidden;
                
                                position: absolute;
                                bottom: 150%;
                                left: 50%;
                                transform: translate(-50%, 0);
                
                                padding: 0.286em 0.571em;
                                
                                font-size: 0.875rem;
                
                                opacity: 0;
                                border-radius: 0.429em;
                                color: #FFFFFF;
                                background-color: #1A1A1A;
                
                                transition: opacity 150ms ease;
                
                                &::after {
                                    position: absolute;
                                    top: 100%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(45deg);
                
                                    width: 0.625em;
                                    height: 0.625em;
                                    background-color: #1A1A1A;
                                    content: "";
                                }
                            }
                        }
        
                        svg {
                            width: 1em;
                            height: 1em;
                            
                            fill: #FFFFFF;
                        }
        
                        span {
                            font-size: 0.875rem;
                            line-height: 1.5;
                            line-height: 1.5;
        
                            color: #FFFFFF;
                        }
        
                        &.author {
                            cursor: pointer;
                            
                            &:hover {
                                text-decoration: underline #FFFFFF;
                            }
                        }
                    
                        &.date {
                            cursor: default;
                        }
                    }
                }
            }

            &.clients {
                & {
                    gap: 30px;
                }

                .client {
                    box-sizing: border-box;
                    width: 255px;
                    padding: 24px;

                    border-radius: 6px;
                    background-color: #FFFFFF;
                    box-shadow: 0 1px 4px rgba(#000000, 0.1);
                }
            }
        }
    }
}

@media screen and (max-width: 1140px) {
    .section {
        &__carousel-container {
            &.teachers {
                gap: calc((100vw - clamp(220px, 22.368vw, 300px) * 4) / 4);
                .teacher {
                    width: clamp(220px, 22.368vw, 300px);
                }
            }

            &.reviews {
                .review {
                    width: 100vw;
                    padding: 0 min(5vw, 1.875em);
                }
            }

            &.blogs {
                gap: calc((100vw - clamp(240px, 30.7vw, 350px) * 3) / 3);
                .blog {
                    width: clamp(240px, 30.7vw, 350px);
                }
            }

            &.clients {
                gap: calc((100vw - clamp(220px, 22.368vw, 300px) * 4) / 4);
                .client {
                    width: clamp(220px, 22.368vw, 300px);
                }
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .section {
        &__carousel-container {
            &.teachers {
                gap: calc((100vw - clamp(220px, 30.142vw, 300px) * 3) / 3);
                .teacher {
                    width: clamp(220px, 30.142vw, 300px);
                }
            }
            &.blogs {
                gap: calc((100vw - clamp(240px, 46.8vw, 350px) * 2) / 2);
                .blog {
                    width: clamp(240px, 46.8vw, 350px);
                }
            }
            &.clients {
                gap: calc((100vw - clamp(220px, 30.142vw, 300px) * 3) / 3);
                .client {
                    width: clamp(220px, 30.142vw, 300px);
                }
            }
        }
    }
}

@media screen and (max-width: 698px) {
    .section {
        &__slide {
            display: none;
        }

        &__carousel-container {
            &.teachers {
                gap: calc((100vw - clamp(220px, 45.714vw, 300px) * 2) / 2);
                .teacher {
                    width: clamp(220px, 45.714vw, 300px);
                }
            }
            &.blogs {
                gap: calc(100vw - clamp(240px, 95.7vw, 350px));
                .blog {
                    width: clamp(240px, 95.7vw, 350px);
                }
            }
            &.clients {
                gap: calc((100vw - clamp(220px, 45.714vw, 300px) * 2) / 2);
                .client {
                    width: clamp(220px, 45.714vw, 300px);
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .section {
        &__carousel-container {
            &.teachers {
                gap: calc(100vw - clamp(220px, 93.617vw, 300px));
                .teacher {
                    width: clamp(220px, 93.617vw, 300px);
                }
            }
            &.clients {
                gap: calc(100vw - clamp(220px, 93.617vw, 300px));
                .client {
                    width: clamp(220px, 93.617vw, 300px);
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .section {
        &__courses {
            .course {
                min-width: 234px;
            }
        }
    }
}