<div class="sidebar">

    <a class="sidebar__logo">
        <img class="sidebar__logo-image"
            src="../../../assets/sidebar/logo.png"
            alt="Purity"
        >
    </a>

    <a class="sidebar__link"
        [routerLink]="['/home']"
        routerLinkActive="sidebar__link_active"
        >
        <mat-icon class="sidebar__link-icon">home</mat-icon>
        Home
    </a>

    <!-- dashboard - aunhorized -->
    <a class="sidebar__link"
        *ngIf="AuthorizationService.authorized"
        >
        <mat-icon class="sidebar__link-icon">dashboard</mat-icon>
        Dashboard
    </a>

    <!-- calendar - authorized -->
    <a class="sidebar__link"
        *ngIf="AuthorizationService.authorized"
        >
        <mat-icon class="sidebar__link-icon">date_range</mat-icon>
        Calendar
    </a>

    <!-- my files - authorized -->
    <a class="sidebar__link"
        *ngIf="AuthorizationService.authorized"
        >
        <mat-icon class="sidebar__link-icon">insert_drive_file</mat-icon>
        My files
    </a>

    <!-- my courses - authorized -->
    <a class="sidebar__link"
        *ngIf="AuthorizationService.authorized"
        >
        <mat-icon class="sidebar__link-icon">school</mat-icon>
        My courses
    </a>

</div>
