<section class="banner">
    <img class="banner__background" src="../../../../assets/banner/banner1.jpg">
    <div class="banner__next button button--content-icon button--color-transparentDark button--flex-center">
        <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
            <g>
                <path d="M17.9,4.4l20.7,20.5c0.6,0.6,0.6,1.6,0,2.2L17.9,47.6c-0.6,0.6-1.6,0.6-2.2,0l-2.2-2.2c-0.6-0.6-0.6-1.6,0-2.2l16.3-16.1c0.6-0.6,0.6-1.6,0-2.2L13.6,8.8c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2C16.4,3.9,17.3,3.9,17.9,4.4z"/>
            </g>
        </svg>
    </div>
    <div class="banner__pervious button button--content-icon button--color-transparentDark button--flex-center">
        <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
            <g>
                <path d="M34.2,47.7L13.4,27.2c-0.6-0.6-0.6-1.6,0-2.2L34.2,4.5c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2c0.6,0.6,0.6,1.6,0,2.2L22.1,25c-0.6,0.6-0.6,1.6,0,2.2l16.3,16.1c0.6,0.6,0.6,1.6,0,2.2l-2.2,2.2C35.7,48.2,34.8,48.2,34.2,47.7z"/>
            </g>
        </svg>
    </div>
    <div class="banner__container">
        <div class="banner__header">Learn Without Limits</div>
        <div class="banner__text">
            Lorem ipsum dolor sit amet, conse adipiscing elit. Prae eget massatar vitae dolor corper non tortor.
        </div>
        <div class="banner__button button">Find Out More</div>
    </div>
</section>