* { //Zeroing
    font-family: inherit;
    border: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;

    overflow: hidden;

    background-color: #F6F7F9;
}

::-webkit-scrollbar {
    width: 0.75em;
    background-color: transparent;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #5E72E4;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 1rem;
}
