// Zeroing
* {
    font-family: inherit;
    border: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

$color_transparent: rgba(0, 0, 0, 0);
$color_transparent-dark: rgba(0, 0, 0, 0.5);

$color_base-1: #0B1526; // 11,  21,  38 //* blue
$color_base-2: #172B4D; // 23,  43,  77
$color_base-3: #324CDD; // 50,  76,  221
$color_base-4: #5E72E4; // 94,  114, 228
$color_base-5: #FFFFFF; // 255, 255, 255 //* white

$color_other-1: #FB6340; // 251, 99,  64
$color_other-2: #2DCE89; // 45,  206, 137

$color_background-1: #484851; // 72,  72,  81  //* blue
$color_background-2: #525F7F; // 82,  95,  127
$color_background-3: #D2E3EE; // 210, 227, 238
$color_background-4: #DEE2E6; // 222, 226, 230
$color_background-5: #E9ECEF; // 233, 236, 239
$color_background-6: #F6F9FC; // 246, 249, 252 
$color_background-7: #FFFFFF; // 255, 255, 255 //* white

$color_text-1 : #191919; // 25,  25,  25 //* black
$color_text-2 : #666666; // 102, 102, 102
$color_text-3 : #808080; // 128, 128, 128
$color_text-4 : #212529; // 33,  37,  41 //* dark blue
$color_text-5 : #32325D; // 50,  50,  93
$color_text-6 : #67748A; // 103, 116, 138
$color_text-7 : #8898AA; // 136, 152, 170
$color_text-8 : #233DD3; // 35,  61,  211 //* blue
$color_text-9 : #5E72E4; // 94,  114, 228
$color_text-10: #FFFFFF; // 255, 255, 255 //* white

$shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.1);
$shadow-2: 0px 1px 20px rgba(0, 0, 0, 0.1);

$border-radius: 0.25em;

$transition-delay: 150ms;
$transition-delay-slow: 400ms;


body { // Fonts
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 1920px;
    margin: auto;
    display: grid;
    grid-template-columns: 0 auto;
    transition: grid-template-columns $transition-delay-slow;
    transition-timing-function: ease-out;

    &--sidebar-active {
    grid-template-columns: 17em auto;
    }
    
    //! DELETE
    height: 3000px
}

.button {
    height: 2.75em;
    padding: 0 0.625em;
    font-weight: 600;
    white-space: nowrap;
    color: $color_background-7;
    background-color: $color_base-4;
    border-radius: $border-radius;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform $transition-delay, background-color $transition-delay;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        background-color: $color_base-3;
    }

    &--small {
        font-size: 0.75rem;
        height: 2.5em;
    }

    &--content-icon {
        padding: 0;
        width: 2.75em;
    }

    &--small.button--content-icon {
        width: 2.5em;
    }

    &--content-with-image {
        display: flex;
        align-items: center;
    }

    &--color-transparent {
        color: $color_text-2;
        background-color: $color_transparent;
        transition: background-color $transition-delay;
        &:hover {
            background-color: $color_background-6;
            transform: scale(1);
        }
        &:active {
            background-color: $color_background-6   ;
        }
    }

    &__icon {
        display: block;
        margin: auto;
        width: 1em;
        height: 1em;
    }

    &__image {
        height:2.187rem;
        width: 2.187rem;
        border-radius: 50%;
    }

    &__text {
        margin-left: 0.625em;
    }
}

.dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: $color_background-7;
    box-shadow: $shadow-2;
    border-radius: $border-radius;
    cursor: default;

    &--padding-small {
        padding: 0.5em 0;
    }

    &--padding-normal {
        padding: 1em;
    }


    &__link {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding: 0.57em 1.14em;
        color: rgb(22, 24, 27);
        font-size: 0.875rem;
        font-weight: 400;
        cursor: pointer;
        transition: background-color $transition-delay;
        &:hover {
            background-color: $color_background-6;
        }
    }

    &__separator {
        width: 100%;
        height: 1px;
        margin: 0.5em 0;
        background-color: $color_background-5;

    }
}

.header {
    height: clamp(3em, calc(20vw * 0.3), 4.5em);
    padding-left: clamp(0.5em, 2vw, 1.875em);
    padding-right:clamp(0.5em, 2vw, 1.875em);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: $color_background-7;
    box-shadow: $shadow-1;

    &__link {
        margin: 0 0 0 2.5em;
        font-weight: 600;
        color: $color_text-2;
        cursor: pointer;
        transition: color $transition-delay;
        &:hover {
            color: $color_base-4;
        }
    }

    &__language {
        margin-left: auto;
        position: relative;
    }

    &__search {
        position: relative;
    }

    &__separator {
        width: 2px;
        height: 1.25em;
        margin: 0 1em;
        background-color: $color_background-5;
        border-radius: $border-radius;

        &--small-width {
            display: none;
        }
    }

    &__icon {
        opacity: 60%;
    }

    &__profile {
        position: relative;
    }
}

.searchbar {
    width: calc(11.5em / 0.875);
    height: calc(1.625em / 0.875);
    padding: calc(0.625em / 0.875) calc(0.75em / 0.875);
    border-radius: $border-radius;
    border: 1px solid $color_background-4;
    color: $color_text-7;
    font-size: 0.875rem;
    font-weight: 500;

    &:focus {
        outline: none;
        border: 1px solid $color_base-4;
    }

    &::placeholder {
        color: $color_background-2;
        font-size: 0.875rem;
    }
}

.sidebar {
    width: 0;
    height: 100vh;
    display: block;
    position: sticky;
    top: 0;
    background-color: red;
    transition: width $transition-delay-slow;
    transition-timing-function: ease-out;

    &--active {
        width: 17em;
    }
}

@media screen and (max-width: 950px) {
    .header {

        &__link {
            display: none;
        }
    
        &__profile .button__text {
            display: none;
        }
    }
  }

@media screen and (max-width: 430px) {
    .header {

        &__link {
            display: none;
        }

        &__language {
            display: none;
        }

        &__separator {
            display: none;
        }

        &__search {
            margin-left: auto;
        }

        &__search-dropdown {
            transform: translate(30%);

            &--authorized {
                transform: translate(61%);
            }
        }

        &__logIn {
            margin-left: 1.5em;
        }
    }
  }


